#right_plan {
  padding: 100px 0;
  background: #f9f9fb;
  h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #141135;
    margin-bottom: 64px;
  }
  .box_div {
    padding: 60px 0;
    background: #fff;
    width: 370px;
    border-radius: 20px;
    transition: all 0.4s;
    cursor:pointer;
    &:hover{
        background: #6B62C5;
    }
    &:hover h3{
        color:#fff;
    }
    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: #141135;
      text-align: center;
      margin-bottom: 26px;
    }
    h4 {
      font-family: "Nunito", sans-serif;
      font-weight: 800;
      color: #1bbf00;
      margin: 10px 0;
      text-align: center;
    }
    p {
      width: 210px;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #141135;
      font-style: italic;
      margin: 0 auto;
      text-align: center;
    }
  }
}
